<div class="correction">

  <h2> 作文标题: <%= @composition.com_title %> </h2>
  <p> 年级：<%= @composition.grade %> </p>
  <p> 写作要求： <%=h raw @composition.content %></p>
  <p> <%=@writing.user.email  %>写的作文：<%= @writing.content %> </p>


</div>


<%= simple_form_for [:account, @correction] do |f| %>
  <div class="form-input">
      <%= f.trix_editor :content, :label => "我的批改" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to("返回", account_correction_path(@correction), class: "btn btn-primary")%>
  </div>

<% end %>
