<!-- new.html.erb最原始代码   -->

<!-- <h2><%= t(".sign_up") %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(".sign_up") %>
  </div>
<% end %>

<%= render "devise/shared/links" %>  -->

<!-- 以下为copy代码   -->

<%#= render "devise/shared/links" %>

<div class="container page-wrap ">
  <div class="devise-view">
    <img alt="background image">
    <div class="devise-sign-up">
      <div class="left">
        <h1>51Pi</h1>
        <div class="description ">
          <h2>批同学的作文，成自己的未来</h2>
          <p>这是提高自己写作能力的最快速捷径之一</p>
          <h2>我们是原装的</h2>
          <p>作文都来自学生自己写的文章，所有的错误都是原版的！</p>
        </div>
      </div>
      <div class="right">

        <div class="row ">
          <h3> 注册 </h3>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name))do |f| %>
            <%= f.error_notification %>
            <%= f.input :email, required: true, label: false, autofocus: true, placeholder: "请输入电子邮箱",type: "email" %>
            <%= f.input :password, required: true, label: false, placeholder: "密码至少6位", type: "password",:input_html => {:minlength => 6 , maxlength: 10} %>
            <%= f.input :password_confirmation, label: false, required: true, placeholder: "再输入一遍确认密码", type: "password",:input_html => {:minlength => 6 , maxlength: 10} %>
            <%= f.input :name, required: true, label: false,  placeholder: "请填写真实姓名。" %>
            <%= f.input :date_of_birth, as: :date, label: false, html5: true %>
            <%= f.input :is_female, as: :radio_buttons,collection: ["男", "女"],label: false %>
            <%= f.input :school, required: true, label: false,  placeholder: "＊＊省＊＊市＊＊地区＊＊＊学校" %>
            <%= f.input :qq_number,required: true, label: false,  placeholder: "请输入您的QQ号码",:input_html => { :minlength => 5 , maxlength: 10 } %>
            <%= f.input :phone_number, label: false,  placeholder: "重要！请填写你的有效手机号码",:input_html => { :type => "tel" } %>
            <%= f.button :submit, :label => "注 册", type: "submit", name: "commit", value: "注 册", class: "btn btn-success" %>
          <% end %>
          <br />
          已经有账号？  <a href="/users/sign_in">登录</a>
          <br />
        </div>
    </div>
  </div>
</div>
