<%= simple_form_for @composition do |f| %>
  <div class="form-input">

      <%= f.input :grade %>
      <%= f.input :com_title%>
      <%= f.trix_editor :content %>
  </div>
  <%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
<% end %>
