<%= simple_form_for @composition do |f| %>
  <div class="form-composition">
    <%= f.input :grade, input_html: { class: "form-control"} %>
    <%= f.input :com_title, input_html: { class: "form-control"} %>
    <%= f.trix_editor :content %>
  </div>
  <%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
<% end %>
