
<div class="col-md-8 col-centered">

  <div class="writing">
  <% if @composition %>
    <h2> 作文标题: <%= @composition.com_title %> </h2>
    <p> 年级：<%= @composition.grade %> </p>
    <p> 写作要求： <%=h raw @composition.content %></p>
  <% end %>


  <p> <%=@writing.user.email  %>的作文：<%= @writing.content %> </p>

  <%= link_to("Delete", admin_writing_path(@writing), class:"btn btn-sm btn-default", method: :delete, data:{confirm:"Are you sure?"}) %>

  <%= link_to("返回", admin_writings_path, class: "btn btn-primary")%>
  <!-- <% if current_user && current_user == @writing.user %>
   <%= link_to("Edit", edit_composition_writing_path(@writing), class: "btn btn-primary")%>
    <%= link_to("Delete", composition_writing_path(@writing), class:"btn btn-sm btn-default", method: :delete, data:{confirm:"Are you sure?"}) %>

  <% end %> -->

</div>
